{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>
                Pessoas
            </h3>
        </div>
    </div>
    <div class="row">
		<div class="col-md-6">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
                            <a href="?order=nome">Nome</a>
						</th>
						<th>
                            <a href="?order=endereco">Endereço</a>
						</th>
						<th>
							Telefones
						</th>
					</tr>
				</thead>
				<tbody>
                    {% for pessoa in object_list %}
        			<tr>
						<td>
							<a href="{% url 'core:core_altera_pessoa' pessoa.id %}">{{ pessoa.id }}</a>
						</td>
						<td>
							<a href="{% url 'core:core_altera_pessoa' pessoa.id %}">{{ pessoa.nome }}</a>
						</td>
						<td>
							<a href="{% url 'core:core_altera_pessoa' pessoa.id %}">{{ pessoa.endereco }}</a>
						</td>
						<td>
							<a href="{% url 'core:core_altera_pessoa' pessoa.id %}">{{ pessoa.telefone }}</a>
						</td>
					</tr>
                    {% empty %}
                        <tr class="table-active">
						<td colspan="4">
							Nenhuma pessoa encontrada
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
			{% include 'bs4_paginator.html' %}
		</div>
        <div class="col-md-6">
            <form method="post" action="{% url 'core:core_novo_pessoa' %}">
                {% csrf_token %}
                {% include 'bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Cadastrar</button>
            </form>
        </div>
	</div>
{% endblock %}