{% extends "base.html" %}

{% block content %}
    <h2>Lista movimentos Rotativos</h2>

    <ul>
    {% for movrotativo in movrotativos %}
        <li>
            <a href="{% url 'core:core_altera_movrotativo' movrotativo.id %}"> {{ movrotativo }}</a>
        </li>
    {% empty %}
        <li> Nenhum movimento rotativo encontrado</li>
    {% endfor %}
    </ul>
    <h2>Formulário</h2>
    <form method="post" action="{% url 'core:core_novo_movrotativo' %}">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}