{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>
                Veículos
            </h3>
        </div>
    </div>
    <div class="row">
		<div class="col-md-6">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							<a href="?order=veiculo">Veículo</a>
						</th>
					</tr>
				</thead>
				<tbody>
                    {% for veiculo in object_list %}
        			<tr>
						<td>
							<a href="{% url 'core:core_altera_veiculo' veiculo.id %}">{{ veiculo.id }}</a>
						</td>
						<td>
							<a href="{% url 'core:core_altera_veiculo' veiculo.id %}">{{ veiculo }}</a>
						</td>
					</tr>
                    {% empty %}
                        <tr class="table-active">
						<td colspan="2">
							Nenhuma veículo encontrado
						</td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
			{% include 'bs4_paginator.html' %}
		</div>
        <div class="col-md-6">
            <form method="post" action="{% url 'core:core_novo_veiculo' %}">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-primary my-2 my-sm-0">Cadastrar</button>
            </form>
        </div>
	</div>
{% endblock %}