{% extends "base.html" %}

{% block content %}
    <h2>Lista Movimentos Mensalistas</h2>

    <ul>
    {% for movmensalista in movmensalistas %}
        <li>
            <a href="{% url 'core:core_altera_movmensalista' movmensalista.id %}">{{ movmensalista }}</a>
        </li>
    {% empty %}
        <li> Nenhum movimento mensalista encontrado</li>
    {% endfor %}
    </ul>
    <h2>Formulário</h2>
    <form method="post" action="{% url 'core:core_novo_movmensalista' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}