{% extends "base.html" %}

{% block content %}
    <h2>Lista Mensalistas</h2>

    <ul>
    {% for mensalista in mensalistas %}
        <li>
            <a href="{% url 'core:core_altera_mensalista' mensalista.id %}">{{ mensalista }}</a>
        </li>
    {% empty %}
        <li> Nenhum mensalista encontrado</li>
    {% endfor %}
    </ul>
    <h2>Formulário</h2>
    <form method="post" action="{% url 'core:core_novo_mensalista' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}